[submodule "projects/cr-case-email-archiving"]
  path = projects/cr-case-email-archiving
  url = git@bitbucket.org:robinrob/cr-case-email-archiving.git
[submodule "projects/csv"]
  path = projects/csv
  url = git@github.com:robinrob/csv.git
  branch = master
[submodule "projects/fabfile"]
  path = projects/fabfile
  url = git@github.com:robinrob/fabfile.git
  branch = master
[submodule "projects/life"]
  path = projects/life
  url = git@github.com:robinrob/life.git
  branch = master
[submodule "projects/recipes-server-flask"]
	path = projects/recipes-server-flask
	url = git@github.com:robinrob/recipes-server-flask.git
[submodule "projects/dicsaurus"]
	path = projects/dicsaurus
	url = git@github.com:robinrob/dicsaurus
