[submodule "projects/cr-case-email-archiving"]
  path = projects/cr-case-email-archiving
  url = git@bitbucket.org:robinrob/cr-case-email-archiving.git
[submodule "projects/csv"]
  path = projects/csv
  url = git@github.com:robinrob/csv.git
  branch = master
[submodule "projects/dicsaurus"]
  path = projects/dicsaurus
  url = git@github.com:robinrob/dicsaurus
[submodule "projects/fabfile"]
  path = projects/fabfile
  url = git@github.com:robinrob/fabfile.git
  branch = master
[submodule "projects/fanduel-test"]
  path = projects/fanduel-test
  url = git@bitbucket.org:rsmith-io/fanduel-test.git
[submodule "projects/life"]
  path = projects/life
  url = git@github.com:robinrob/life.git
  branch = master
[submodule "projects/projects/twigworld-test"]
  path = projects/projects/twigworld-test
  url = git@github.com:robinrob/twigworld-test
[submodule "projects/qikserve-test"]
  path = projects/qikserve-test
  url = git@bitbucket.org:rsmith-io/qikserve-test
[submodule "projects/recipes-server-flask"]
  path = projects/recipes-server-flask
  url = git@github.com:robinrob/recipes-server-flask.git
[submodule "projects/twigworld-test"]
  path = projects/twigworld-test
  url = git@github.com:robinrob/twigworld-test
[submodule "projects/web-speed-test"]
  path = projects/web-speed-test
  url = git@github.com:robinrob/web-speed-test
